h1{
  font-family: 'Fascinate Inline', cursive;
}

body{
  font-family: 'Quicksand', sans-serif;
}

button{
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 50px;
}

tr{
  width:500px;
}

td{
text-align:center;
}

td#c-1{
  vertical-align: top;
  width: 120px;
}

.title{
font-weight: bold;
}

.cardLocation{
  background-color: rgba(240, 240, 240, 0.01);
  background-position: center;
  max-height: 50px;
  max-width: 130.8px;
  position: absolute;
  margin-top: 20px;
  height: 50px;
  width: 140px;
}

.c0 *, .c1 *, .c2 *, .c3 *{
  background-repeat: no-repeat;
  background-size: contain;
}

img{
		margin-bottom: 40px;
}

.columnOfCards table tr{
	height: 50px;
	width: 140px;
}

.columnOfCards{
	height: 650px;
	width: 130.8px;
}

.cardLocation:last-child{
	height: 200px;
	
}