h1{
  font-family: 'Fascinate Inline', cursive;
}

body{
  font-family: 'Quicksand', sans-serif;
}

button{
  font-family: 'Quicksand', sans-serif;
  width: 120px;
  height: 50px;
}

tr{
  width:500px;
}

td{
  text-align:center;
  vertical-align: top;
}

img{
  width: 200px;
  height:auto;
}

.title{
font-weight: bold;
}

.cardLocation{
  background-color: rgba(240, 240, 240, 0.01);
  background-position: center;
  width: 200px;
}

.c0 *, .c1 *, .c2 *, .c3 *{
  background-repeat: no-repeat;
  background-size: contain;
}
